<table class="table table-striped" style="margin-top: 4%;">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Role</th>
      <th scope="col">Employee ID</th>
      <th scope="col">E-mail</th>
      <th scope="col">User name</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{ i }}</th>
      <td>{{ user.employeeName }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.employeeID }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.password }}</td>
      <td>
        <div
          style="display: inline-block; display: flex;justify-content: space-around;"
        >
          <button type="button" (click)="open(change)" class="btn btn-success">
            Change Credentials
          </button>
        </div>
      </td>
      <ng-template #change let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"></h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Please type the new credentials in inputbox!
          </p>
          <input
            type="text"
            class="form-control"
            placeholder="username"
            name="text1"
            [(ngModel)]="newObj.newUserName"
          />
          <input
            type="text"
            class="form-control"
            placeholder="password"
            name="text1"
            style="margin-top: 3%;"
            [(ngModel)]="newObj.newPassword"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="close(i)">
            Save
          </button>
          {{ newObj | json }}
        </div>
      </ng-template>
    </tr>
  </tbody>
</table>
<!-- <div *ngIf="noDataFound" class="container">
  <div class="well" style="text-align: center;">No Data Found...!</div>
</div> -->
