<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  role="navigation"
  style="background-color: #17a2b8"
>
  <div class="container">
    <a class="navbar-brand">Logo</a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#exCollapsingNavbar"
    >
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item" *ngIf="hasLoggedIn">
          <a class="nav-link"
            >Logged in user, {{ loggedInUser.text.employeeName }}</a
          >
        </li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Service</a></li> -->
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <!-- <li class="order-1" *ngIf="!hasLoggedIn">
          <button type="button" class="btn btn-outline-secondary">
            Login <span class="caret"></span>
          </button>
        </li> -->
        <!-- <li class="nav-item">
          <a href="#" class="nav-link"
            >Logged in user, {{ loggedInUser.employeeName }}</a
          >
        </li> -->
        <li class="order-2">
          <button
            type="button"
            style="margin-left: 55%"
            class="btn btn-outline-secondary"
            (click)="logout()"
            *ngIf="hasLoggedIn"
            style="background-color: #e0e0e0;"
          >
            Logout <span class="caret"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
