<!-- <h1>
  {{ title }}
</h1>

<button [routerLink]="['/manage-users']" routerLinkActive="router-link-active">
  manage users
</button>
<button [routerLink]="['/manager']" routerLinkActive="router-link-active">
  manager
</button>
<button [routerLink]="['/user']" routerLinkActive="router-link-active">
  user
</button>
<button [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
<button [routerLink]="['']" routerLinkActive="router-link-active">Home</button> -->


<router-outlet></router-outlet>
